* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Sofia';
  src: url(./fonts/font400.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Sofia', sans-serif;
}
